.title {
    margin: 0;
}

.mainMenuContainer {
    width: inherit;
    height: inherit;
    padding: 0.8rem;
    text-align: center;

    & p {
        font-size: 0.8rem;
        margin: 0;
    }
}

.menuOptions {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: darkslategray;
        }
    }
}

.playerInfo {
    color: deeppink;
    text-decoration: underline;
}